doctype html
html(lang='en')
    head
        title Stream Combiner
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='/javascripts/app.js')
    body
        .container
            h2 Stream Combiner
            a.btn.btn-info(href="/status") Server Status
            form#form.form-horizontal(action='/addStreaming')
                .form-group
                    label.control-label.col-sm-2(for='link1' ) Link1:
                    .col-sm-10
                        input#link1.form-control(type='text', placeholder='Enter link1', name='link1' , required='', value='http://cdnfeedd.ddns.net/live/splitscreen4channels/CMcSoOxyPc/2609.ts')
                .form-group
                    label.control-label.col-sm-2(for='link2') Link2:
                    .col-sm-10
                        input#link2.form-control(type='text', placeholder='Enter link2', name='link2' , required='', value='http://cdnfeedd.ddns.net:80/live/splitscreen4channels/CMcSoOxyPc/249.ts')
                .form-group
                    label.control-label.col-sm-2(for='link3') Link3:
                    .col-sm-10
                        input#link3.form-control(type='text', placeholder='Enter link3', name='link3' , required='', value='http://cdnfeedd.ddns.net:80/live/splitscreen4channels/CMcSoOxyPc/246.ts')
                .form-group
                    label.control-label.col-sm-2(for='link4') Link4:
                    .col-sm-10
                        input#link4.form-control(type='text', placeholder='Enter link4', name='link4' , required='', value='http://cdnfeedd.ddns.net:80/live/splitscreen4channels/CMcSoOxyPc/2608.ts')
                .form-group
                    label.control-label.col-sm-2(for='port') Port:
                    .col-sm-10
                        input#port.form-control(type='text', placeholder='Enter port', name='port' , required='', value='3560')
                .form-group
                    label.control-label.col-sm-2(for='output') Output file name:
                    .col-sm-10
                        input#output.form-control(type='text', placeholder='Enter Output file name', name='output' , required='', value='output')
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-default(type='submit') Start Streaming
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button#save.btn.btn-default(type='button') Save this Streaming
